body {
    padding: 0;
    margin: 0 auto;
    background: linear-gradient(to right, #20B3E1, #57E389);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

h1 {
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    padding-bottom: 0;
}

.color-selectors {
    display: flex;
    gap: 2rem;
    padding-bottom: 5rem;
}

.side-selectors {
    padding-bottom: 3rem;
    display: flex;
    gap: 2rem;
}

.button {
    padding: 2em 10em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
    border: 2px black solid;
}